body,
textarea,
input {
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  /* Suggest a good color!*/
  color: #14152f;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.app section {
  max-width: 600px;
  padding: 1rem;
  border: 1px solid rgba(100, 108, 255, 0.2);
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 0 15px rgba(100, 108, 255, 0.2);
}

.app section h2 {
  text-align: center;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

input[type=text],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #646cff;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 5px #646cff;

}

button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 15px #646cff66;
  background-color: #646cff;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
  border: 1px solid #646cff;
  border-collapse: collapse;
}

.delete-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.85rem;
  margin-left: 10px;
  box-shadow: 0 0 15px #dc262666;
}

.delete-btn:hover {
  background-color: #dc2626;
  box-shadow: 0 0 15px #ff0000d8;
  transform: scale(1.1);
}

button:hover {
  background-color: #3644ff;
  box-shadow: 0 0 25px rgba(43, 53, 255, 0.5);
  color: white;
  transition: all 0.3s ease;
  transform: scale(1.1);
}

button:active {
  border: 1px solid #646cff;
  box-shadow: 0 0 5px #646cff;
  transform: scale(0.9);
}